

<div class="container" style="height: 100%;">
  <div class="row mt-5 justify-content-center">
  
  <div class="col-md-4 m-auto fade-in">
           <div class="card card-body">
   
     <div class="card text-white bg-secondary md-6">
       <div class="card-header" style="text-align:center;"><h6>CHANGE OF NAME SERVICE</h6></div>
     
     </div>
   
   
   <hr/>
         
     
     <p style="text-align:center;">This service Allows for processing of Change Of Name for Individuals, fulfilling all legal and regulatory requirements. 
     Simply  <strong class="text-warning">Click on the Proceed button below </strong> to make Payment and request for this service.</p>
     <div class="card">
   <div class="card-body">
     <h6 class="card-subtitle mb-2 text-muted">Pricing</h6>
  
     <p class="card-text">This service costs N10,000.</p>
    <hr/>
     
  
     <p class="card-text">Pay and Request this Service</p>
     <form action="/changename/changereq">
     <button type="submit" class="btn btn-success">
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
     <span class="sr-onl">Proceed</span>
  </button>
</form>
    <hr/>
    
    
   </div>
 </div>
     
   
     
      </div>
     </div>
   
   
   
   
  
  
         <div class="col-md-3.5 m-auto" style="border: 2px solid reeed;">
          <% include ./partials/messages %>
       <div class="card card-body" style="border: 2px solid greeen;">
         <div class="list-group text-center animate__animated animate__fadeInLeft">
     <a href="#" class="list-group-item list-group-item-action active">
      <b>AVAILABLE NEWSPAPER</b>
     </a>
    
     <a href="#" class="list-group-item list-group-item-action">The Punch 
     </a>
     <a href="#" class="list-group-item list-group-item-action">The Sun Newspaper
     </a>
     <a href="#" class="list-group-item list-group-item-action">The Guardian
     </a>
     <a href="#" class="list-group-item list-group-item-action">Thisday Newspaper
     </a>
   <a href="" class="list-group-item list-group-item-action">Vanguard Newspaper
     </a>
    
   </div>

 </div>
   <div class="text-right">
<button type="button" class="btn btn-outline-danger btn-icon">
  <span class="btn-inner--icon">
      <i data-feather="arrow-left"></i>
  </span>
  <a href="/dashboard"><span class="btn-inner--text">Go back</span></a>
</button></div>
 </div>
 </div>
 </div>