
   
     <!--Main Navigation-->
   <header>
 <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav sn-bg-4 fixed">
      <ul class="custom-scrollbar">
        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
          <div class="text-center">
            <a href="#" class="pl-0"><img  src="/images/mine.png" style="border-radius: 25px;" width="60px" height="60px"></a>
          </div>
        </li>
        <!--/. Logo -->

        <!--Search Form-->
        <li>
          <form class="search-form" role="search">
            <div class="md-form mt-0 waves-light">
              <input type="text" class="form-control py-2" placeholder="Search">
            </div>
          </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-tachometer-alt"></i>
                Dashboard</a>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-image"></i> Explore<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="../pages/login.html" class="waves-effect">Login</a>
                  </li>
                  <li><a href="../pages/register.html" class="waves-effect">Register</a>
                  </li>
                  <li><a href="../pages/pricing.html" class="waves-effect">Pricing</a>
                  </li>
                 
                </ul>
              </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-user"></i> User Management<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="/admng/userlist" class="waves-effect">View All Users</a>
                  </li>
                  <li><a href="/admng/user" class="waves-effect">View Single User</a>
                  
                </ul>
              </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-th"></i>Business Name Search <i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="/admng/cr" class="waves-effect">View all</a>
                    
                  </li>
                  <li><a href="/admng/snb" class="waves-effect">View Single</a>
                  </li>
                
                </ul>
              </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-th"></i> Company Registrations <i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="/admng/pltdlist" class="waves-effect">Private Limited</a>
                    
                  </li>
                  <li><a href="/admng/limbyglist" class="waves-effect">Limited by Guarantee</a>
                  </li>
                  <li><a href="/admng/cooplist" class="waves-effect">Cooperative</a>
                  </li>
                  <li><a href="/admng/ngolist" class="waves-effect">NGO</a>
                  </li>
                </ul>
              </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-th"></i> Change of Name<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="/admng/cr" class="waves-effect">Punch Newspaper</a>
                     </li>
                  <li><a href="/admng/snb" class="waves-effect">Guardian Newspaper</a>
                  </li>
                  <li><a href="../components/collapse.html" class="waves-effect">Sun  Newspaper</a>
                  </li>
                  <li><a href="../components/collapse.html" class="waves-effect">Vanguard Newspaper</a>
                  </li>
                  <li><a href="../components/collapse.html" class="waves-effect">Thisday  Newspaper</a>
                  </li>
                </ul>
              </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="far fa-check-square"></i> Payments<i
                  class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="../forms/basic.html" class="waves-effect">Basic</a>
                  </li>
                  <li><a href="../forms/extended.html" class="waves-effect">Extended</a>
                  </li>
                </ul>
              </div>
            </li>
           
            <li><a href="../alerts/alerts.html" class="collapsible-header waves-effect"><i class=" far fa-bell"></i>
              Notifications</a></li>


			  <li><a href="../calendar/calendar.html" class="collapsible-header waves-effect"><i class=" far fa-calendar-check"></i>
                Calendar</a></li>
			
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-map"></i> Analytics<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="../maps/google.html" class="waves-effect">Google Maps</a>
                  </li>
                  <li><a href="../maps/full.html" class="waves-effect">Full screen map</a>
                  </li>
                  <li><a href="../maps/vector.html" class="waves-effect">Vector world map</a>
                  </li>
                </ul>
              </div>
            </li>
			 
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fab fa-css3"></i> Activity Management</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="../css/grid.html" class="waves-effect">Grid system</a>
                  </li>
                  <li><a href="../css/media.html" class="waves-effect">Media object</a>
                  </li>
                  <li><a href="../css/utilities.html" class="waves-effect">Utilities / helpers</a>
                  </li>
                 
                </ul>
              </div>
            </li>
            <!-- Simple link -->
			
            <li><a href="../sections/sections.html" class="collapsible-header waves-effect"><i class=" fas fa-th-large"></i>
                Summary Reports</a></li>
			  </ul>
        </li>
        <!--/. Side navigation links -->
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fas fa-bars"></i></a>
      </div>
      <!-- Breadcrumb-->
      <div class="breadcrumb-dn mr-auto">
        <p>ADMIN DASHBOARD - SEALEDAPP</p>
      </div>

      <!--Navbar links-->
      <ul class="nav navbar-nav nav-flex-icons ml-auto">

        <!-- Dropdown -->
        <li class="nav-item dropdown notifications-nav">
          <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="badge red">3</span> <i class="fas fa-bell"></i>
            <span class="d-none d-md-inline-block">Notifications</span>
          </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              <i class="fas fa-money mr-2" aria-hidden="true"></i>
              <span>New order received</span>
              <span class="float-right"><i class="far  fa-clock" aria-hidden="true"></i> 13 min</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-money mr-2" aria-hidden="true"></i>
              <span>New order received</span>
              <span class="float-right"><i class="far  fa-clock" aria-hidden="true"></i> 33 min</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-line-chart mr-2" aria-hidden="true"></i>
              <span>Your campaign is about to end</span>
              <span class="float-right"><i class="far  fa-clock" aria-hidden="true"></i> 53 min</span>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect"><i class="fas fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect"><i class="far fa-comments"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span></a>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/index/dashboard">My account</a>
            <a class="dropdown-item" href="/users/logout">Log Out</a>
          </div>
        </li>

      </ul>
      <!--/Navbar links-->
    </nav>
    <!-- /.Navbar -->

  </header>
  <!--Main Navigation-->



